
.vs/ECSE420/v16/.suo
.vs/ECSE420/v16/Browse.VC.db
.vs/ECSE420/v16/Browse.VC.db-shm
.vs/ECSE420/v16/Browse.VC.db-wal
.vs/ECSE420/v16/Browse.VC.opendb
.vs/ECSE420/v16/ipch/AutoPCH/956c1b7d7b29ca04/KERNEL.ipch
.vs/ECSE420/v16/ipch/AutoPCH/f39553bdaedadced/KERNEL.ipch
lab0/lab0.vcxproj
lab0/lab0.vcxproj.user
*.user
lab1/lab1.vcxproj
ECSE420.sln
