
*.suo
*.VC.db
*.VC.db-shm
*.VC.db-wal
*.VC.opendb
*.ipch
*.ipch
*.vcxproj
*.vcxproj.user
*.user
*.vcxproj
*.sln
*.ipch
*.cu.cache
*.cu.obj
*.cu925262060.deps
*.exe.recipe
*.log
*.read.1u.tlog
*.write.1u.tlog
*.lastbuildstate
*.write.1u.tlog
*.command.1.tlog
*.read.1.tlog
*.write.1.tlog
*.pdb
*.vcxproj
*.vcxproj.filters
*.exe
*.exp
*.ilk
*.lib
*.pdb
*.tlog
*.obj
lab1/x64/Debug/kernel.cu85451931.deps
*.idb
