
.vs/ECSE420/v16/.suo
.vs/ECSE420/v16/Browse.VC.db
.vs/ECSE420/v16/Browse.VC.db-shm
.vs/ECSE420/v16/Browse.VC.db-wal
.vs/ECSE420/v16/Browse.VC.opendb
.vs/ECSE420/v16/ipch/AutoPCH/956c1b7d7b29ca04/KERNEL.ipch
.vs/ECSE420/v16/ipch/AutoPCH/f39553bdaedadced/KERNEL.ipch
lab0/lab0.vcxproj
lab0/lab0.vcxproj.user
*.user
lab1/lab1.vcxproj
ECSE420.sln
*.ipch
lab0/x64/Debug/kernel.cu.cache
lab0/x64/Debug/kernel.cu.obj
lab0/x64/Debug/kernel.cu925262060.deps
lab0/x64/Debug/lab0.exe.recipe
lab0/x64/Debug/lab0.log
lab0/x64/Debug/lab0.tlog/CudaCompile.read.1u.tlog
lab0/x64/Debug/lab0.tlog/CudaCompile.write.1u.tlog
lab0/x64/Debug/lab0.tlog/lab0.lastbuildstate
lab0/x64/Debug/lab0.tlog/lab0.write.1u.tlog
lab0/x64/Debug/lab0.tlog/link.command.1.tlog
lab0/x64/Debug/lab0.tlog/link.read.1.tlog
lab0/x64/Debug/lab0.tlog/link.write.1.tlog
lab0/x64/Debug/vc142.pdb
lab0_1/lab0_1.vcxproj
lab0_1/lab0_1.vcxproj.filters
x64/Debug/lab0.exe
x64/Debug/lab0.exp
x64/Debug/lab0.ilk
x64/Debug/lab0.lib
x64/Debug/lab0.pdb
